DB_URL=jdbc:mariadb://localhost:3306/nhac_db
DB_USER=root
DB_PASS=sua_senha_da_db
JWT_SENHA=essa_minha_senha_e_muito_secretaaaasd1233456654321
CLIENT_GOOGLE_ID=google_cloud_client_id

# Twilio Configuration
TWILIO_SID=seu_twilio_sid
AUTH_TOKEN=seu_twilio_auth_token
NUMBER=numero

# Stripe Configuration
STRIPE_API_KEY=sk_test_12345
STRIPE_WEBHOOK_SECRET=whsec_12345
